!= form_for :user, routes.login_path do
  - div do
    - label :email
    - email_field :email, required: true
  - div do
    - label :password
    - password_field :password, required: true
  - submit 'Login'
