!= form_for :image, routes.images_path do
  - div do
    - label :title
    - text_field :title, required: true
  - div do
    - label :image
    - file_field :image, required: true
  - submit 'Post'
