%h1 Images

%ul
  - images.each do |image|
    %li
      %figure
        %figcaption= image.title
        %image{ src: image.image_url, width: '200px' }

%p
  != link_to 'Upload New Image', routes.new_image_path
