-# TODO: show errors.
!= form_for :user, routes.signup_path do
  - div do
    - label :email
    - email_field :email, required: true
  - div do
    - label :password
    - password_field :password, required: true
  - div do
    - label :password_confirmation
    - password_field :password_confirmation, required: true
  - submit 'Create'
